<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j. Set to debug or trace if log4j initialization is failing. -->
<Configuration name="ConfigTest" status="INFO" monitorInterval="5">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{1} -- %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>